body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #deecfa;
}

header {
    background-color: #4A55A2;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4A55A2;  
    color: #fff;
}

form {
    padding: 20px;
}

input, select {
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border: 1px solid black;
}

label {
    color: #160b31;
}

.buttons {
    background-color: #202445;
    color: white;
    font-size: 17px;
    border-radius: 10%;
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 10px;
}

img {
    float: right;
    height: 350px;
    width: 450px;
    margin-right: 250px;
    margin-top: 120px;
}